body {
    background-image: url("https://image.freepik.com/fotos-gratis/dia-azul-ceu-claro-com-nuvens-claras-gradiente-branco-azul-suave-do-ceu-tempo-maravilhoso-fundo-de-manha-ceu-de-manha-com-copyspace-pano-de-fundo-ligeiramente-nublado-atmosfera-de-dia-claro_102332-1718.jpg");
    background-size: 100vw; 100vh; 
    font-family: verdana;
    height: 100vh;
  }
  
  .uvapassa{
    background-color: white
  }
  
  .uvapassa ul{
    display: flex;
    justify-content: space-around;
  }
  
  .uvapassa li{
    list-style: none;
  }
  
  a {
    color: #ff4200;
    text-decoration: none; 
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-title{
    color: whitesmoke;
    text-align: center; 
  }
  
  .site-subtitle {
    color: #ffc13b;
    text-align: center;
    font-family: Arial;
    font-style: italic; 
  }
  
  
  